#short-url{
    width: 400px;
    height: 45px;
    text-align: center;
    cursor: pointer;
    background-image: url('../assets/images/copy.png');
    background-repeat: no-repeat;
    background-position: 370px 5px;
}
.init{
    font-size: 35px;
    background-color: deepskyblue;
    transition: background-color 2s;
    -webkit-transition: background-color 2s;
}
.finish{
    background-color: green;
    color: #ffffff;
    font-size: 18px;
    line-height: 45px;
}
.error{
    font-size: 18px;
    line-height: 45px;
}
#hidden-url{
    opacity: 0;
    position: absolute;
    top: -100px;
    left:-500px;
}